.footer {
    height: calc(330 * 100vw / 1920);
    width: 100%;
    background-color: #AAAAAA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 85px;

    .info {
        
        display: flex;
        flex-direction: column;
        position: relative;

        .logo {
            display: flex;
            flex-direction: row;
        }

        .title {
            color: $black;
            font-size: 70px;
            margin: 25px 80px 0px 20px;

            @media screen and (max-width: 1600px) {
                font-size: 50px;
                margin: 25px 50px 0px 20px;
            }
        }
        
        .logo-img img {
            width: calc(150 * 100vw / 1920);
            height: calc(150 * 100vw / 1920);
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            width: calc(115 * 100vw / 1920);
            height: calc(115 * 100vw / 1920);
            margin-top: calc((150 - 115) * 100vw / 1920);
            
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $black;
                width: calc(50 * 100vw / 1920);
                height: calc(50 * 100vw / 1920);
                border-radius: calc(50 * 100vw / 1920);
            }

            .icon {
                width: calc(35 * 100vw / 1920);
                height: calc(35 * 100vw / 1920);
                color: $white;
            }
        }

        .address {
            font-size: 40px;
            position: absolute;
            bottom: 0;
            color: $black;

            @media screen and (max-width: 1600px){
                font-size: 25px;
            }
        }
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        color: $black;
        text-align: right;
        font-size: 30px;
        line-height: 50px;

        @media screen and (max-width: 1600px) {
            font-size: 20px;
            line-height: 35px;
        }
    }
}