.header {
    width: 100%;
    height: $header-height;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 16%);
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;

    & .logo {
        width: 20%;
        height: $header-height;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    & .logo-img img {
        width: $header-height;
        height: $header-height;
    }

    & .title {
        color: #707070;
        font-size: 2.2vw;
        padding: 0 0.675vw;
        white-space: nowrap;
    }

    & .navbar {
        height: $header-height;
        
        & ul {
            width: 50vw;
            height: $header-height;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        & li {
            // width: 18.7vmin;
            // height: 5.5vmin;
            // padding: 1.1vmin;
            width: 10.5vw;
            height: 3.1vw;
            padding: 0.6vw;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-color: #707070;
            border-radius: 1.85vw 1.85vw 0px 0px;

            & a {
                color: $white;
                font-size: 1.7vw;

                &:link {
                    text-decoration: none;
                }
            }
        }
    }
}